@media screen and (max-width: 360px  ){


    nav ul{
        list-style: none;
        gap: 10px;
        display: flex;
        
        justify-content: flex-end;
        align-items: end;
        padding-right: 0px;
        
    }


    .search{
        display: none;

    }


    a{
    
        text-transform: capitalize;
        color:black;
        font-size: 10px;
        text-decoration: none;
        
    
    
    
    }

    .back::before{ 
        content: "";
        position: absolute;
        background: url('5006718.jpg') no-repeat center center/cover;
        height: 342px;
        top:0px;
        left:0px;
        width: 100%;
        z-index: -1;
        opacity:0.89;
        
    }

    ul li a:hover{
    
        border-radius: 13px;
        
        color: black;
    }

    .container{
        display: none;
    }


   




    .mid{
        display: flex;
        padding-left: 100px;
       
        
      
       
       
        justify-content: center;
        align-items: center;
        
    
    }


    .mid img{
   
        padding-left: 0px;
        margin-top: 0px;
        
       
        width: 100px;
        height: 100px;
        
    }

    

    .form {
      
    
      background-color: white;
      padding: 3.125em;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
      margin-top: 300px;
      
      
      
    }

    
      
      .signup {
        color: rgb(77, 75, 75);
        text-transform: uppercase;
        letter-spacing: 2px;
        display: block;
        font-weight: bold;
        font-size: x-large;
        margin-bottom: 0.5em;
        
      }
      
      html{
        scroll-behavior: smooth;
    }
    
    
    
      .form--input {
        width: 100%;
        margin-bottom: 1.25em;
        height: 40px;
        border-radius: 5px;
        border: 1px solid gray;
        padding: 0.8em;
        font-family: 'Inter', sans-serif;
        outline: none;
        
      }
      
      .form--input:focus {
        border: 1px solid #639;
        outline: none;
      }
      
      .form--marketing {
        display: flex;
        margin-bottom: 1.25em;
        align-items: center;
      }
      
      .form--marketing > input {
        margin-right: 0.625em;
      }
      
      .form--marketing > label {
        color: grey;
      }
      
      .checkbox, input[type="checkbox"] {
        accent-color: #639;
      }
      
      .form--submit {
        width: 50%;
        padding: 0.625em;
        border-radius: 5px;
        color: white;
        background-color: #639;
        border: 1px dashed #639;
        cursor: pointer;
      }
      
      .form--submit:hover {
        color: #639;
        background-color: white;
        border: 1px dashed #639;
        cursor: pointer;
        transition: 0.5s;
      }
    
    
    


      footer{
        position: absolute;
        content: ;
        
      
        width: 100%;
        height: 100px;
        right:0px;
        left:0px;
        
        width: 100%;
        z-index: -1;
        opacity:0.89;
      
        background-image: url('5006718.jpg');
      }
      
      
      .policy{display: flex;
        justify-content: center;
      
        font-weight: 500;
        margin-top: 20px;
        
      
      }
      
      .disclaimer{
        padding-left: 10px;
        font-size: 10px;
        text-transform: capitalize;
        display: flex;
        justify-content: center;
        margin-top: 0px;
      
        
      }
      
      
      svg{
        display: none;
        margin-top: 50px;
        height: 25px;
        width: 25px;
        padding-left: 10px;
        
      
       
      }
      
      .bi-instagram{
        
        color: rgb(15, 15, 15);
      
      }
      
      
      
      
      #attend{
        padding-left: 750px;
      
      }
      
      
      
      /* social media*/
      
      
      
      
      
      

}